main: {
    marginTop: "3rem",
    padding: "1rem",
  },
  addBanner: {
    backgroundSize: "70vw 10vh",
    backgroundRepeat: "no-repeat",
    height: "10vh",
  },
  link: {
    textDecoration: "none",
  },
  title: {
    fontSize: "1.8rem",
    fontWeight: "bold",
    width: "60vw",
  },
  backBtn: {
    textTransform: "none",
    display: "flex",
    alignItems: "center",
    fontSize: "1.1rem",
    color: "#007185",
    "&:hover": {
      background: "transparent",
      textDecoration: "underline",
    },
  },
  image: {
    height: "60vh",
    width: "22vw",
  },
  productInfo: {
    display: "flex",
    marginTop: "2rem",
    justifyContent: "space-around",
  },
  descriptionDiv: {
    width: "60vw",
  },
  description: {
    fontSize: "1.2rem",
    fontWeight: "bold",
  },
  category: {
    fontSize: "1.2rem",
    fontWeight: "bold",
  },
  rating: {
    display: "flex",
    alignItems: "center",
  },
  count: {
    marginLeft: "0.5rem",
    color: "#007185",
    fontSize: "1rem",
  },
  offersDiv: {
    display: "flex",
    flexDirection: "column",
  },
  offerTitle: {
    display: "flex",
    alignItems: "center",
    fontWeight: "bold",
    fontSize: "1rem",
  },
  offerIcon: {
    color: "#C7511F",
    fontSize: "1.8rem",
    marginRight: "1rem",
    fontWeight: "bolder",
  },
  price: {
    fontSize: "1.7rem",
    display: "flex",
    alignItems: "center",
  },
  taxes: {
    fontSize: "0.9rem",
    margin: "0 0 0.5rem 0",
  },
  rateCategory: {
    display: "flex",
    justifyContent: "space-between",
  },
  divider: {
    margin: "0.5rem 0",
  },
  rupee: {
    fontSize: "1.3rem",
  },
  addToCart: {
    background: "#FFD814",
    height: "2rem",
    width: "8rem",
    fontSize: "1rem",
    textTransform: "none",
    borderRadius: "0.5rem",
    "&:hover": {
      background: "#F7CA00",
    },
  },
  linkStyle: {
    textDecoration: "none",
  },
  quantityDiv: {
    marginTop: "3rem",
    display: "flex",
    width: "50%",
    justifyContent: "space-between",
    paddingBottom: "5rem",
  },
  select: {
    width: "6rem",
    marginLeft: "1rem",
    height: "2rem",
    outline: "none",
    cursor: "pointer",
  }